@import "variabless";
@import "mixin";

/*-----------------------------HEADER------------------------------------*/
header {
	background-image: url("../img/sea.png");
	background-size: cover;
	color: $white;
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__navigation {
	max-width: 1185px;
	padding-top: 37px;
}

.logo {
	font-family: 'bigJohn', sans-serif;
	text-transform: uppercase;
	font-size: 1.5625em;
	cursor: pointer;
}

.list {
	display: flex;
}

.navMenu__mobile {
	display: none;
}

.list__item {
	cursor: pointer;
	padding: 5px 15px 4px;
	border: 1px solid rgba(255,255,255,0);
	border-radius: 25px;
}

.list__item_white{
	color: $white;
	&:hover {
		border: 1px solid $white;
	}
}

.list__item_blue {
	padding: 0px 19px 12px;
	border-radius: 0px;
	&:hover {
		border-bottom: 2px solid $turquoise;
	}
}

.lable {
	width: 53.8%;
	text-align: center;
}

.header__lable {
	padding-top: 210px;
	padding-bottom: 334px;
}

.lable__title{
	@include fontName;
	font-size: 2.1875em;
	letter-spacing: 7px;
}

.padBottom {
	padding-bottom: 40px;
}