.list__item {
  cursor: pointer;
  padding: 5px 15px 4px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 25px; }

.list__item_blue {
  padding: 0px 19px 12px;
  border-bottom: 2px solid #f3f3f3;
  border-radius: 0px; }
  .list__item_blue:hover {
    border-bottom: 2px solid #19bd9a; }
